<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Add Caption</h5>
                    {{#if error}}
                    <p id="error">{{error}}</p>
                    {{/if}}
                    <div class="alert alert-danger" role="alert">
                        <p id="messageDiv"></p>
                    </div>
                    <form class="form-signin" id="form-signin" action="/caption" method="post">
                        <div class="form-label-group">
                            <textarea type="caption" name="caption" class="form-control" required autofocus></textarea>
                            <label for="caption">Add Caption</label>
                        </div>

                        <div class="form-label-group">
                            <input type="hashtag" name="hashtagOne" class="form-control" placeholder="Add hashtag" required>
                            <label for="hashtag">Add Hashtag</label>
                        </div>

                        <div class="form-label-group">
                            <input type="hashtag" name="hashtagTwo" class="form-control" placeholder="Add hashtag">
                            <label for="hashtag">Add Hashtag</label>
                        </div>

                        <div class="form-label-group">
                            <input type="hashtag" name="hashtagThree" class="form-control" placeholder="Add hashtag">
                            <label for="hashtag">Add Hashtag</label>
                        </div>
                        
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Add Caption</button>
                        
                        <hr class="my-4">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
